* {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid olive; */
}
.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.top-bar {
  width: 100%;
  height: 7%;
  background-color: #3b71ca;
}

.main {
  width: 100%;
  height: 93%;
  /* border: yellow 1px solid; */
  display: flex;
}

.side-bar {
  width: 17%;
  height: 100%;
  color: white;
  /* border: blue 1px solid; */
  background-color: #0e0e0e;
  /* border-radius: 0 20px 20px 0; */
  /* position: static; */
}

.context-container {
  width: 93%;
  height: 100%;
}

.side-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-bar ul li {
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  /* border-bottom: 1px solid #e0e0e0; */
  cursor: pointer;
  /* position: absolute; */
}

.profileIcon {
  margin-top: 20px;
  right: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.Signup-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #0e0e0e 1px solid;
}

.Signup-container form {
  height: 50%;
  width: 50%;
  border: 1px solid red;
}
